import /system/etc/init/init.safailnet.rc

on boot
    mount none /system/overlay/BluetoothResCommon.apk /vendor/overlay/BluetoothResCommon.apk bind

on init
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    chown system system /sys/devices/virtual/touch/tp_dev/gesture_on
    chmod 0660 /sys/devices/virtual/touch/tp_dev/gesture_on
